body {
    font-family: futra Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('login.png');
    background-repeat: no-repeat;
    background-position: 102px 350px;
    background-size: 857.91px 477.68px;
}
#welcome {
    color: #5193F4;
    margin-top: 158px;
    margin-right: 1217px;
    margin-left: 359px;
    font-size: 80px;
    display: inline-block;
}
#loginbox {
    width: 596px;
    height: 522px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 16px rgba(155, 111, 111, 0.16) ;
    border-radius: 22px;
    position: absolute;
    top: 330px;
    right: 250px;
}

.box {
    width: 475px;
    height: 81px;
    margin-right: 60px;
    margin-left: 61px;
    background-color: #F1F3F4;
    border-radius: 12px;
    text-align: center;
}
.title {
    width: 126px;
    height: 66px;
    border-radius: 0 0 22px 22px;
    background-color: #5084DA;
    margin-right: 235px;
    margin-left: 235px;
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_botton , #signup_botton {
    width: 475px;
    height: 82px;
    margin-right: 60px;
    margin-left: 61px;
    background-color: #5084DA;
    border-radius: 12px;
    color: #FFFFFF;
    text-align: center;
}
#text {
    opacity: 0.65;
    font-size: 27px;
    margin-top: 38px;
    margin-right: 119px;
    margin-bottom: 53px;
    margin-left: 120px;
}
span.toSignup {
    text-decoration: none;
    color: #5084DA;
    cursor: pointer;
}
.size {
    font-size: 33px;
}
 #userbox {
    margin-top: 45px;
 }
 .loc1 {
     margin-top: 58px;
     margin-bottom: 20px;
 }
 .loc2 {
     margin-bottom: 20px;
 }
 #signupBox {
    width: 596px;
    height: 914px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 16px rgba(155, 111, 111, 0.16) ;
    position: absolute;
    top: 100px;
    right: 250px;
}
.input {
    background-color: #F1F3F4;
    border-radius: 12px;
    padding-left: 20px;
    font-size: 30px;
}
#fname , #lname {
    width: 212px;
    height: 81px;
}
#email , #password , #cpassword , .gender {
    width: 472px;
    height: 81px;
}
#day , #year , .month {
    width: 130px;
    height: 81px;
}
#fname {
    margin-top: 22px;
    margin-right: 18px;
    margin-left: 53px;
}
#email , #password , #cpassword {
    margin-top: 16px;
    margin-left: 53px;
}
.month {
    margin-left: 53px;
    margin-top: 16px;
    margin-right: 13px;
}
#day {
    margin-right: 13px;
}
.gender {
    margin-left: 53px;
    margin-top: 16px;
}
.container {
    display: inline-block;
    position: relative;
    padding-left: 66px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 26px;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    margin-right: 16px;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container input:checked ~ .checkmark {
    background-color: #5084DA;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 18px;
    top: 10px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .terms {
      margin-top: 28px;
      margin-left: 53px;
  }
  #signup_botton {
      margin-top: 28px;
      margin-bottom: 40px;
  }
  .signup:focus{
      border-bottom: 4px solid #5084DA;
  }
  #signupBox {
      display: none;
  }